# Virtual environment directories
*env*/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Testing-related files
.pytest_cache/

# Log files
*.log

# IDE-specific directories
.vscode/

# macOS system files
.DS_Store
