# Python cache and compiled files
__pycache__/
*.py[cod]

# Virtual environment directories
*env*/

# Testing-related files and directories
.pytest_cache/
tests/

# Log files
*.log

# Git and version control
.git/
.gitignore

# IDE-specific directories
.vscode/
.idea/

# macOS system files
.DS_Store

# Docker-specific overrides
docker-compose.override.yml

# Custom directories
.ignore/
